.image1{
    border-radius: 100%;
}
.boite1{
    padding: 40px;
}
.boite2{
    padding: 15px;
    text-align: justify;
}
.boite3{
    background: url(image/image2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    border: solid black 9px;
}
.boite4{
    padding: 15px;
}
.bouton{
    margin-top: 80px !important;
}
.boite5{
    padding: 55px!important;
}
.boite6{
    margin-bottom: -14px !important;
    padding: 10px;
}
.boite7{
    padding: 15px;
}
.liens{
    font-size: 11px !important;
}
.bouton2{
    width: 100%  !important;
    padding: 5px !important;
    border-radius: 4px !important;
    border: none !important;
}