.image1{
    border-radius: 100%;
}
.boite1{
    padding: 40px;
}
.boite2{
    padding: 15px;
    text-align: justify;
}
.boite3{
    background: url(image/image2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 40px;
    border: solid black 9px;
}